.root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rootWrapper {
  margin-top: 58px;
  width: 853px;
  height: 754px;
  border-radius: 5px;
  background: #FFF;

  box-shadow: -1px 4px 10px 0px rgba(184, 184, 184, 0.25);

}

.goBack {
  width: 175px;
  position: relative;
  margin: 20px 0 0 20px;
}

.toMainScreen {
  color: #000000;

  &:hover{
    color: #487DB4;

  }
}

.textInputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 70px;
}

.textInput {
  width: 438px;
  height: 42px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid #000;

  background: #FFF;

  margin-bottom: 24px;
}

.textAreaInput {
  width: 438px;
  height: 100px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid #000;

  background: #FFF;

  margin-bottom: 24px;

}

.textPin {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.textPinWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 200px;
}

.chooseBtn {
  width: 180px;
  height: 29px;
  border-radius: 10px;
  border: 1px solid #487DB4;

  background: #FFF;

  color: #487DB4;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &:hover {
    cursor: pointer;
    color: #FFF;
    background: #487DB4;
  }
}

.fileWrapper{
  margin-left: 200px;
}

.programFile {
  display: flex;
  align-items: center;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.saveBtn{
  width: 438px;
  height: 40px;
  border-radius: 10px;
  background: #487DB4;

  border: none;
  text-decoration: none;


  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;

  margin:  0 120px;
}

.saveBtn:hover{
  cursor: pointer;
  background-color: #0c5d96;
}
.saveBtn:active{
  background-color: #142a73;
}
