.root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goBack {
  position: absolute;
  top: 90px
}

.rootWrapper {
  margin-top: 58px;
  width: 853px;
  height: 754px;
  border-radius: 5px;
  background: #FFF;

  box-shadow: -1px 4px 10px 0px rgba(184, 184, 184, 0.25);
}

.previewWrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview {
  width: 100%;
  height: 300px;

}
.photo{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.choosePreviewBtn {
  width: 180px;
  height: 29px;
  border-radius: 10px;
  border: 1px solid #487DB4;

  background: #FFF;

  color: #487DB4;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &:hover {
    cursor: pointer;
    color: #FFF;
    background: #487DB4;
  }
}

.deleteBtn {
  width: 120px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #487DB4;

  background: #FFF;

  color: #487DB4;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &:hover {
    cursor: pointer;
    color: #FFF;
    background: #487DB4;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.saveBtn{
  width: 438px;
  height: 40px;
  border-radius: 10px;
  background: #487DB4;

  border: none;
  text-decoration: none;


  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;

  margin:  0 120px;
}

.saveBtn:hover{
  cursor: pointer;
  background-color: #0c5d96;
}
.saveBtn:active{
  background-color: #142a73;
}

.textInputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textInput {
  width: 438px;
  height: 42px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid #000;

  background: #FFF;

  margin-bottom: 24px;
}

.textAreaInput {
  width: 438px;
  height: 100px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid #000;

  background: #FFF;

  margin-bottom: 24px;

}